* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --space-0: 2px;
  --space-1: 4px;
}

:root {
  --col-base-hue: 30;
  --col-black: var(--col-base-hue) 0% 15%;
  --col-white: var(--col-base-hue) 10% 98.5%;
  --col-primary: 30 100% 50%;
  --col-secondary: 210 80% 60%;
}

ul {
  list-style: none;
}

html,
body {
  height: 100%;
}

body {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

body,
#app {
  display: grid;
}

#app {
  grid-area: 1/1/1/1;
}
