x-root,
x-chain,
x-module,
x-out {
  padding: 2px;
  border-radius: 2px;
  border: 1px solid hsl(var(--col-black) / 0.2);
}

x-root,
x-chain,
x-module,
index-list {
  display: flex;
  gap: 2px;
}

x-chain,
x-module,
index-list.modules,
index-list.outs {
  flex-direction: column;
}

index-list.chains {
  flex-grow: 1;
}

x-module {
  padding: var(--space-1);
  background: hsl(var(--col-white) / 0.7);
  box-shadow: 0 0 8px 0 hsl(0 0% 0% / 0.1);
}

x-out {
  border-style: dashed;
  font-size: 0.75em;
}

/* dragging */
x-root.dragging,
x-root.dragging * {
  cursor: grabbing;
}

x-chain,
x-module {
  user-select: none;
  cursor: grab;
}

.drag {
  z-index: 100;
  color: hsl(var(--col-primary));
  pointer-events: none;
}